/* BOARD */
#board {
  width: 360px;
  height: 360px;
  margin-top: 30px;
  position: relative;
  padding: 5px;
  border-radius: 30px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  overflow: hidden;
}

/* TILES */
.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  border-radius: 22px;
  cursor: pointer;
  color: white;
  background: linear-gradient(145deg, #00c6ff, #0072ff);

  /* Smooth sliding animation */
  transition: top 0.18s ease, left 0.18s ease;
}
